@model BiscuitFormModel
@{
	ViewBag.Title = "Добавяне на нови бисквити";
}

<div class="container">
	<h1 class="text-center">@ViewBag.Title</h1>
    <form asp-area="Admin" asp-controller="Biscuit" asp-action="Add">
        <div class="form-group">
            <label asp-for="Title" class="control-label">Име на бисквитите</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label">Цена</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quantity" class="control-label">Количество</label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label">Линк към изображението</label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Категория</label>
            <select asp-for="CategoryId" class="form-control">
                    @foreach (var item in Model.Categories)
                    {
                    <option value="@item.Id">@item.Name</option>
                    }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary my-2">Запази</button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}