@model AllOrdersQueryModel
@{
	ViewBag.Title = "All Orders";
}

<div class="container">
    <h2>Поръчки</h2>
    <ul class="list-group">
        @if (Model.Orders.Any())
        {
            @foreach (var order in Model.Orders)
            {
                <li class="list-group-item">
                    <div class="cart-item">
                        <div>
                            <p>Ден на поръчване: @order.OrderDate</p>
                            <p>Обща бройка: @order.TotalItemCount</p>
                        </div>
                        <div>
                            <a class="btn btn-primary" asp-route-id="@order.Id" asp-controller="Order" asp-action="Details">Детайли</a>
                            <a class="btn btn-primary" asp-route-id="@order.Id" asp-controller="Order" asp-action="Delete">Изтрий</a>
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <p>
                В момента няма поръчки.
            </p>
        }

    </ul>
</div>


<style>
    .cart-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding: 10px;
    }

        .cart-item img {
            max-width: 100px;
            margin-right: 20px;
        }
</style>