@{
    ViewBag.Title = "За нас";
}
<h1 class="d-flex justify-content-center">@ViewBag.Title</h1>

<section id="about">
    <div class="container">
        <p style="font-size:25px; text-indent:20px">
            Красиво и вкусно….
            Добре дошли на  моята  страница.  Казвам се Анелия и повече от 10 години  изработвам  торти и захарни бисквитки. Избрах името Sugar decoration, защото за мен моята работа е сладост, наслада, и чрез нея създавам настроение за малки и големи.   Тортата  е  онази  магична част от всеки празник, която обединява, усмихва и ни прави щастливи. Със захар, глазура, карамел, бои и вдъхновение  се старая да удовлетворя желанието на всеки един от Вас, а защо не и да надмина очакваното….
            Рисувам, творя, горя, мечтая с Вас и  Ви обичам, скъпи мои приятели …..            
        </p>
        <p>
            Ваша: Нели
        </p>

        <div class="d-flex flex-row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d881.5064623206963!2d23.105065134108635!3d41.99979536709609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aa59e67813f663%3A0x48d3b39f67816886!2sSugar%20decoration!5e0!3m2!1sbg!2sbg!4v1713347301738!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="m-5" style="font-size:20px">
                <p>Телефонен номер: <b>088 953 4203</b></p>
                <p>Адрес: <b>ж.к Еленово, ул Хвойна 5</b></p>
                <p><b>Не предлагаме доставки!</b></p>
            </div>  
        </div>
    </div>
</section>