@{
    ViewBag.Title = "За нас";
}
<h1>@ViewBag.Title</h1>

<section id="about">
    <div class="container">
        <p style="font-size:25px">
            Красиво и вкусно….
            Добре дошли на  моята  страница.  Казвам се Анелия и повече от 10 години  изработвам  торти и захарни бисквитки. Избрах името Sugar decoration, защото за мен моята работа е сладост, наслада, и чрез нея създавам настроение за малки и големи.   Тортата  е  онази  магична част от всеки празник, която обединява, усмихва и ни прави щастливи. Със захар, глазура, карамел, бои и вдъхновение  се старая да удовлетворя желанието на всеки един от Вас, а защо не и да надмина очакваното….
            Рисувам, творя, горя, мечтая с Вас и  Ви обичам, скъпи мои приятели …..            
        </p>
        <p>
            Ваша: Нели
        </p>


    </div>
</section>