@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section>
    <div class="container mt-5 pt-5 ">
        <div class="col-12 col-sm-7 col-md-6 m-auto">
            <div class="card border-0 shadow">
                <div class="card-body flex-basis-10%">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                    <form id="account" method="post">   
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating m-3">
                            <input asp-for="Input.Email" class="form-control my-4 py-2" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label align-bottom"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating m-3">
                            <input asp-for="Input.Password" class="form-control my-4 py-2" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label ms-3">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button id="login-submit" type="submit" class="btn btn-primary ">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
